html, body {
  margin: 0;
  padding: 0;
}

.image-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 1;
}

.opacity-container {
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 2;
  background-color: black;
  opacity: 60%;
}